<%= form_with(model: schedule) do |form| %>
<% if schedule.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% schedule.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :route_id, class: label_class %>
          <%= form.collection_select :route_id, Route.all, :id, :route_name, { promt:true }, id: 'route-select' %>
      </div>
  <div class="mb-6">
        <%= form.label :bus_id, class: label_class %>
          <%= form.collection_select :bus_id, Bus.all, :id, :bus_number, { promt:true }, id: 'buses-select' %>
      </div>
  <div class="mb-6">
        <%= form.label :departure_time, class: label_class %>
          <%= form.time_field :departure_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :arrival_time, class: label_class %>
          <%= form.time_field :arrival_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :duration_id, class: label_class %>
          <%= form.text_field :duration_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :frequency, class: label_class %>
          <%= form.select :capacity, [['Daily','daily'], ['Weekly','weekly'], ['Monthly','monthly']], {}, class:'form-control' %>
      </div>
  <div class="mb-6">
        <%= form.label :status, class: label_class %>
          <%= form.select :capacity, [['Active','active'], ['Cancelled','Cancelled'], ['Delayed','delayed']], {}, class:'form-control' %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if schedule.persisted? %>
<%= link_to "Cancel", schedule, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", schedules_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
