<div id="<%= dom_id schedule %>">
  <p>
    <strong>Route:</strong>
    <%= schedule.route_id %>
  </p>

  <p>
    <strong>Bus:</strong>
    <%= schedule.bus_id %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= schedule.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= schedule.arrival_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= schedule.duration_id %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= schedule.frequency %>
  </p>

  <p>
    <strong>Weekly:</strong>
    <%= schedule.weekly %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= schedule.status %>
  </p>

</div>
