<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Schedule</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to schedules_path, class: button_class(theme: "transparent") do %>
      All Schedules
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Route:</p>
        <p><%= @schedule.route.route_name %></p>
      </li>
      <li>
        <p class="font-semibold">Bus:</p>
        <p><%= @schedule.bus.bus_number %></p>
      </li>
      <li>
        <p class="font-semibold">Departure time:</p>
        <p><%= @schedule.departure_time %></p>
      </li>
      <li>
        <p class="font-semibold">Arrival time:</p>
        <p><%= @schedule.arrival_time %></p>
      </li>
      <li>
        <p class="font-semibold">Duration:</p>
        <p><%= @schedule.duration %></p>
      </li>
      <li>
        <p class="font-semibold">Frequency:</p>
        <p><%= @schedule.frequency %></p>
      </li>
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @schedule.status %></p>
      </li>
  </ul>
</div>
