<div id="<%= dom_id ticket %>">
  <p>
    <strong>Passenger:</strong>
    <%= ticket.passenger_id %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= ticket.route_id %>
  </p>

  <p>
    <strong>Bus:</strong>
    <%= ticket.bus_id %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= ticket.booking_date %>
  </p>

  <p>
    <strong>Seat number:</strong>
    <%= ticket.seat_number %>
  </p>

  <p>
    <strong>Fare:</strong>
    <%= ticket.fare %>
  </p>

</div>
