<div id="<%= dom_id passenger %>">
  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= passenger.contact %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= passenger.address %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= passenger.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= passenger.gender %>
  </p>

</div>
