<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Passenger</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to passengers_path, class: button_class(theme: "transparent") do %>
      All Passengers
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Edit Passenger', edit_passenger_path(@passenger) %>
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @passenger.name %></p>
      </li>
      <li>
        <p class="font-semibold">Contact:</p>
        <p><%= @passenger.contact %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @passenger.address %></p>
      </li>
      <li>
        <p class="font-semibold">Age:</p>
        <p><%= @passenger.age %></p>
      </li>
      <li>
        <p class="font-semibold">Gender:</p>
        <p><%= @passenger.gender %></p>
      </li>
  </ul>
</div>
