<div id="<%= dom_id route %>">
  <p>
    <strong>Route name:</strong>
    <%= route.route_name %>
  </p>

  <p>
    <strong>Pick up point:</strong>
    <%= route.pick_up_point %>
  </p>

  <p>
    <strong>Drop off point:</strong>
    <%= route.drop_off_point %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= route.distance %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= route.duration %>
  </p>

</div>
