<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Route</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to routes_path, class: button_class(theme: "transparent") do %>
      All Routes
      <% end %>
      <%= link_to edit_route_path(@route), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Route name:</p>
        <p><%= @route.route_name %></p>
      </li>
      <li>
        <p class="font-semibold">Pick up point:</p>
        <p><%= @route.pick_up_point %></p>
      </li>
      <li>
        <p class="font-semibold">Drop off point:</p>
        <p><%= @route.drop_off_point %></p>
      </li>
      <li>
        <p class="font-semibold">Distance:</p>
        <p><%= @route.distance %></p>
      </li>
      <li>
        <p class="font-semibold">Duration:</p>
        <p><%= @route.duration %></p>
      </li>
  </ul>
</div>
