<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= driver.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= driver.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= driver.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= driver.date_of_birth %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= driver.nationality %>
  </p>

  <p>
    <strong>String:</strong>
    <%= driver.string %>
  </p>

</div>
