<%= form_with(model: driver) do |form| %>
<% if driver.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% driver.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :phone_number, class: label_class %>
          <%= form.text_field :phone_number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :address, class: label_class %>
          <%= form.text_field :address, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :gender, class: label_class %>
          <%= form.text_field :gender, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date_of_birth, class: label_class %>
          <%= form.date_field :date_of_birth, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :nationality, class: label_class %>
          <%= form.text_field :nationality, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :string, class: label_class %>
          <%= form.text_field :string, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if driver.persisted? %>
<%= link_to "Cancel", driver, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", drivers_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
