<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Driver</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to drivers_path, class: button_class(theme: "transparent") do %>
      All Drivers
      <% end %>
      <%= link_to edit_driver_path(@driver), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @driver.name %></p>
      </li>
      <li>
        <p class="font-semibold">Phone number:</p>
        <p><%= @driver.phone_number %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @driver.address %></p>
      </li>
      <li>
        <p class="font-semibold">Gender:</p>
        <p><%= @driver.gender %></p>
      </li>
      <li>
        <p class="font-semibold">Date of birth:</p>
        <p><%= @driver.date_of_birth %></p>
      </li>
      <li>
        <p class="font-semibold">Nationality:</p>
        <p><%= @driver.nationality %></p>
      </li>
  </ul>
</div>
