<div id="<%= dom_id bus %>">
  <p>
    <strong>Bus number:</strong>
    <%= bus.bus_number %>
  </p>

  <p>
    <strong>Driver id:</strong>
    <%= bus.driver_ID_id %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= bus.license_number %>
  </p>

  <p>
    <strong>Chasissis number:</strong>
    <%= bus.chasissis_number %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= bus.model %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= bus.capacity %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= bus.year %>
  </p>

</div>
